<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'utils/style.css' %}">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2040986424571460"
     crossorigin="anonymous"></script>
	<script async>
		function dropHandler(event) {
			event.preventDefault();

			if (ev.dataTransfer.items) {
				[...ev.dataTransfer.items].forEach((item, i) => {
					if (item.kind === "file") {
						const file = item.getAsFile();
						console.log(`... file[${i}].name = ${file.name}`);
					}
				});
			} else {
				[...ev.dataTransfer.files].forEach((file, i) => {
					console.log(`... file[${i}].name = ${file.name}`);
				});
			}
		}

		function dragOverHandler(event) {
			event.preventDefault();

		}

		window.addEventListener("load", () => {
			var theme_toggle = document.getElementById('theme-toggle-checkbox');
			theme_toggle.addEventListener('click', () => {
				var toggled = theme_toggle.checked;
				if (toggled == true) {
					document.getElementById('functionalities-section').classList.replace("light-main-section", "dark-main-section")
					document.getElementById('content-section').classList.replace("light-main-section", "dark-main-section")
					document.getElementById('pdf-section').classList.replace("light-upload-section", "dark-upload-section")
					document.getElementById('expand-btn').classList.replace("light-component", "dark-component")
					document.getElementById('dropzone-section').classList.replace("light-dropzone-section", "dark-dropzone-section")
					document.getElementById('dropzone-text').classList.replace("light-dropzone-text", "dark-dropzone-text")
					document.getElementById('ads-section').classList.replace("light-component", "dark-component")

					document.querySelectorAll('.light-component').forEach(el=>{
							el.classList.remove('light-component');
							el.classList.add('dark-component');
						});

					document.querySelectorAll('.resting-link').forEach(el=>{
							el.classList.remove('light-text');
							el.classList.add('dark-text');
						});
					document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.remove('light-text');
							el.classList.add('dark-text');
						});
					document.querySelectorAll('.resting-sub-header').forEach(el=>{
							el.classList.remove('light-text');
							el.classList.add('dark-text');
						});
					document.querySelectorAll('.highlight-sub-header').forEach(el=>{
							el.classList.remove('light-text');
							el.classList.add('dark-text');
						});
					document.querySelectorAll('.light-text').forEach(el=>{
						el.classList.remove('light-text')
						el.classList.add('dark-text')
					})
					document.querySelectorAll('.light-header').forEach(el=>{
						el.classList.remove('light-header')
						el.classList.add('dark-text')
					})
				}
				else {
					document.getElementById('functionalities-section').classList.replace("dark-main-section", "light-main-section")
					document.getElementById('content-section').classList.replace("dark-main-section", "light-main-section")
					document.getElementById('pdf-section').classList.replace("dark-upload-section", "light-upload-section")
					document.getElementById('expand-btn').classList.replace("dark-component", "light-component")
					document.getElementById('dropzone-section').classList.replace("dark-dropzone-section", "light-dropzone-section")
					document.getElementById('dropzone-text').classList.replace("dark-dropzone-text", "light-dropzone-text")
					document.getElementById('ads-section').classList.replace("dark-component", "light-component")

					document.querySelectorAll('.dark-component').forEach(el=>{
							el.classList.remove('dark-component');
							el.classList.add('light-component');
						});
					document.querySelectorAll('.resting-link').forEach(el=>{
							el.classList.remove('dark-text');
							el.classList.add('light-text');
						});
					document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.remove('dark-text');
							el.classList.add('light-text');
						});
					document.querySelectorAll('.resting-header').forEach(el=>{
							el.classList.remove('dark-text');
							el.classList.add('light-text');
						});
					document.querySelectorAll('.highlight-header').forEach(el=>{
							el.classList.remove('dark-text');
							el.classList.add('light-text');
						});
					document.querySelectorAll('.resting-sub-header').forEach(el=>{
							el.classList.remove('dark-text');
							el.classList.add('light-text');
						});
					document.querySelectorAll('.highlight-sub-header').forEach(el=>{
							el.classList.remove('dark-text');
							el.classList.add('light-text');
						});
					document.querySelectorAll('.dark-text').forEach(el=>{
						el.classList.remove('dark-text')
						el.classList.add('light-text')
					})
					document.querySelectorAll('.dark-header').forEach(el=>{
						el.classList.remove('dark-header')
						el.classList.add('light-header')
					})
				}
			})
			var pdfController = document.getElementById('expand-btn');
			pdfController.addEventListener('click', (event) => {
				console.log("test")
				var pdfSection = document.getElementById('pdf-section');
				if (pdfSection.classList.contains("expand")) {
					pdfSection.classList.replace("expand", "shrink");
					pdfController.classList.replace("expand", "shrink");
				}
				else if (pdfSection.classList.contains("shrink")) {
					pdfSection.classList.replace("shrink", "expand");
					pdfController.classList.replace("shrink", "expand");
				}
			})
			var contentSection = document.getElementById('content-section');
			contentSection.addEventListener('scroll', (event) => {
				var pos = getVerticalScrollPercentage(contentSection);
				var adsSection = document.getElementById('ads-section');
				var header1div = document.getElementById('header-1-div');
				var header2div = document.getElementById('header-2-div');
				var header3div = document.getElementById('header-3-div');

				// if (pos > 0 && pos < 33) {
				// 	document.querySelectorAll('.highlight-header').forEach(el=>{
				// 			el.classList.replace("highlight-header", "resting-header");
				// 		});
				// 	header1div.classList.replace("resting-header", "highlight-header");
				// 	document.querySelectorAll('.highlight-sub-header').forEach(el=>{
				// 			el.classList.replace("highlight-sub-header", "resting-sub-header");
				// 		});
				// 	document.getElementById('header1').classList.replace("resting-sub-header", "highlight-sub-header");
				// }
				// if (pos > 33 && pos <66) {
				// 	document.querySelectorAll('.highlight-header').forEach(el=>{
				// 			el.classList.replace("highlight-header", "resting-header");
				// 		});
				// 	header2div.classList.replace("resting-header", "highlight-header");
				// 	document.querySelectorAll('.highlight-sub-header').forEach(el=>{
				// 			el.classList.replace("highlight-sub-header", "resting-sub-header");
				// 		});
				// 	document.getElementById('header2').classList.replace("resting-sub-header", "highlight-sub-header");
				// }
				// if (pos >66 && pos <100) {
				// 	document.querySelectorAll('.highlight-header').forEach(el=>{
				// 			el.classList.replace("highlight-header", "resting-header");
				// 		});
				// 	header3div.classList.replace("resting-header", "highlight-header");
				// 	document.querySelectorAll('.highlight-sub-header').forEach(el=>{
				// 			el.classList.replace("highlight-sub-header", "resting-sub-header");
				// 		});
				// 	document.getElementById('header3').classList.replace("resting-sub-header", "highlight-sub-header");
				// }
				adsSection.innerHTML = "<span>" + Math.round(pos) + "%<span>"
			});

			var header1 = document.getElementById('header-1');
			var header2 = document.getElementById('header-2');
			var header3 = document.getElementById('header-3');

			var header1div = document.getElementById('header-1-div');
			var header2div = document.getElementById('header-2-div');
			var header3div = document.getElementById('header-3-div');
			header1.addEventListener('click', (event) => {
				if (header1.innerHTML == "Author") {
					document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
					meta_author.classList.replace("resting-link", "highlight-link");
					document.getElementById('meta').classList.replace("resting-link", "highlight-link");
				}
				if (header1.innerHTML == "Text") {
					document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
					content_text.classList.replace("resting-link", "highlight-link");
					document.getElementById('content').classList.replace("resting-link", "highlight-link");
				}
				if (header1.innerHTML == "Merge") {
					document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
					transformation_merge.classList.replace("resting-link", "highlight-link");
					document.getElementById('transformation').classList.replace("resting-link", "highlight-link");
				}
				if (header1.innerHTML == "Encryption") {
					document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
					security_encryption.classList.replace("resting-link", "highlight-link");
					document.getElementById('security').classList.replace("resting-link", "highlight-link");
				}

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header1div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-1').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 0,
					behavior: "smooth",
				});
			});
			header2.addEventListener('click', (event) => {
				if (header2.innerHTML == "Date") {
					document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
					meta_date.classList.replace("resting-link", "highlight-link");
					document.getElementById('meta').classList.replace("resting-link", "highlight-link");
				}
				if (header2.innerHTML == "Images") {
					document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
					content_images.classList.replace("resting-link", "highlight-link");
					document.getElementById('content').classList.replace("resting-link", "highlight-link");
				}
				if (header2.innerHTML == "Rotate") {
					document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
					transformation_rotate.classList.replace("resting-link", "highlight-link");
					document.getElementById('transformation').classList.replace("resting-link", "highlight-link");
				}
				if (header2.innerHTML == "Decryption") {
					document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
					security_decryption.classList.replace("resting-link", "highlight-link");
					document.getElementById('security').classList.replace("resting-link", "highlight-link");
				}

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header2div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-2').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 1140,
					behavior: "smooth",
				});
			});
			header3.addEventListener('click', (event) => {
				if (header3.innerHTML == "Device") {
					document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
					meta_device.classList.replace("resting-link", "highlight-link");
					document.getElementById('meta').classList.replace("resting-link", "highlight-link");
				}
				if (header3.innerHTML == "Attachments") {
					document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
					content_attachments.classList.replace("resting-link", "highlight-link");
					document.getElementById('content').classList.replace("resting-link", "highlight-link");
				}

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header3div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-3').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 2280,
					behavior: "smooth",
				});
			});

			var theme_toggle = document.getElementById('theme-toggle-checkbox');
			theme_toggle.addEventListener('click', (event) => {

			})

			var welcome = document.getElementById('welcome')
			welcome.addEventListener('click', (event) => {
				document.getElementById('body-section-welcome').className = ''
				document.getElementById('body-section-metadata').className = 'body-hidden'
				document.getElementById('body-section-content').className = 'body-hidden'
				document.getElementById('body-section-transformation').className = 'body-hidden'
				document.getElementById('body-section-security').className = 'body-hidden'

				document.getElementById('header-1').innerHTML = "Welcome"
				document.getElementById('header-2').innerHTML = ""
				document.getElementById('header-3').innerHTML = ""
				document.getElementById('header-2-toggle').className = 'header-hidden'
				document.getElementById('header-3-toggle').className = 'header-hidden'

				document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
				welcome.classList.replace("resting-link", "highlight-link")
				document.getElementById('app-title').classList.replace("resting-link", 'highlight-link')

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header1div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-1').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 0,
					behavior: "smooth",
				});
			})
			var meta_author = document.getElementById('meta-author')
			meta_author.addEventListener('click', (event) => {
				document.getElementById('body-section-welcome').className = 'body-hidden'
				document.getElementById('body-section-metadata').className = ''
				document.getElementById('body-section-content').className = 'body-hidden'
				document.getElementById('body-section-transformation').className = 'body-hidden'
				document.getElementById('body-section-security').className = 'body-hidden'

				var textbtn1 = document.getElementById('text-btn-1')
				textbtn1.addEventListener('click', (event) => {
					textbtn1.className = 'btn-transition'
					setTimeout(() => {
						textbtn1.className = 'btn-idle'
					}, 500)
				})

				document.getElementById('header-1').innerHTML = "Author"
				document.getElementById('header-2').innerHTML = "Date"
				document.getElementById('header-3').innerHTML = "Device"
				document.getElementById('header-2-toggle').className = ''
				document.getElementById('header-3-toggle').className = ''

				document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
				meta_author.classList.replace("resting-link", "highlight-link")
				document.getElementById('meta').classList.replace("resting-link", 'highlight-link')

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header1div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-1').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 0,
					behavior: "smooth",
				});
			})

			var meta_date = document.getElementById('meta-date')
			meta_date.addEventListener('click', (event) => {
				console.log("test5")
				document.getElementById('body-section-welcome').className = 'body-hidden'
				document.getElementById('body-section-metadata').className = ''
				document.getElementById('body-section-content').className = 'body-hidden'
				document.getElementById('body-section-transformation').className = 'body-hidden'
				document.getElementById('body-section-security').className = 'body-hidden'
				var textbtn2 = document.getElementById('text-btn-2')
				textbtn2.addEventListener('click', (event) => {
					textbtn2.className = 'btn-transition'
					setTimeout(() => {
						textbtn2.className = 'btn-idle'
					}, 500)
				})

				document.getElementById('header-1').innerHTML = "Author"
				document.getElementById('header-2').innerHTML = "Date"
				document.getElementById('header-3').innerHTML = "Device"
				document.getElementById('header-2-toggle').className = ''
				document.getElementById('header-3-toggle').className = ''

				document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
				meta_date.classList.replace("resting-link", "highlight-link")
				document.getElementById('meta').classList.replace("resting-link", 'highlight-link')

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header2div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-2').classList.replace("resting-sub-header", "highlight-sub-header");

				var contentSection = document.getElementById('content-section');
				contentSection.scrollTo({
					top: 1140,
					behavior: "smooth",
				});
			})

			var meta_device = document.getElementById('meta-device')
			meta_device.addEventListener('click', (event) => {
				document.getElementById('body-section-welcome').className = 'body-hidden'
				document.getElementById('body-section-metadata').className = ''
				document.getElementById('body-section-content').className = 'body-hidden'
				document.getElementById('body-section-transformation').className = 'body-hidden'
				document.getElementById('body-section-security').className = 'body-hidden'

				var textbtn3 = document.getElementById('text-btn-3')
				textbtn3.addEventListener('click', (event) => {
					textbtn3.className = 'btn-transition'
					setTimeout(() => {
						textbtn3.className = 'btn-idle'
					}, 500)
				})

				document.getElementById('header-1').innerHTML = "Author"
				document.getElementById('header-2').innerHTML = "Date"
				document.getElementById('header-3').innerHTML = "Device"
				document.getElementById('header-2-toggle').className = ''
				document.getElementById('header-3-toggle').className = ''

				document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
				meta_device.classList.replace("resting-link", "highlight-link")
				document.getElementById('meta').classList.replace("resting-link", 'highlight-link')

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header3div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-3').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 2280,
					behavior: "smooth",
				});
			})

			var content_text = document.getElementById('content-text')
			content_text.addEventListener('click', (event) => {
				document.getElementById('body-section-welcome').className = 'body-hidden'
				document.getElementById('body-section-metadata').className = 'body-hidden'
				document.getElementById('body-section-content').className = ''
				document.getElementById('body-section-transformation').className = 'body-hidden'
				document.getElementById('body-section-security').className = 'body-hidden'

				var textbtn1 = document.getElementById('text-btn-1')
				textbtn1.addEventListener('click', (event) => {
					textbtn1.className = 'btn-transition'
					setTimeout(() => {
						textbtn1.className = 'btn-idle'
					}, 500)
				})

				document.getElementById('header-1').innerHTML = "Text"
				document.getElementById('header-2').innerHTML = "Images"
				document.getElementById('header-3').innerHTML = "Attachments"
				document.getElementById('header-2-toggle').className = ''
				document.getElementById('header-3-toggle').className = ''

				document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
				content_text.classList.replace("resting-link", "highlight-link")
				document.getElementById('content').classList.replace("resting-link", 'highlight-link')

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header1div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-1').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 0,
					behavior: "smooth",
				});
			})

			var content_images = document.getElementById('content-images')
			content_images.addEventListener('click', (event) => {
				document.getElementById('body-section-welcome').className = 'body-hidden'
				document.getElementById('body-section-metadata').className = 'body-hidden'
				document.getElementById('body-section-content').className = ''
				document.getElementById('body-section-transformation').className = 'body-hidden'
				document.getElementById('body-section-security').className = 'body-hidden'

				var textbtn2 = document.getElementById('text-btn-2')
				textbtn2.addEventListener('click', (event) => {
					textbtn2.className = 'btn-transition'
					setTimeout(() => {
						textbtn2.className = 'btn-idle'
					}, 500)
				})

				document.getElementById('header-1').innerHTML = "Text"
				document.getElementById('header-2').innerHTML = "Images"
				document.getElementById('header-3').innerHTML = "Attachments"
				document.getElementById('header-2-toggle').className = ''
				document.getElementById('header-3-toggle').className = ''

				document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
				content_images.classList.replace("resting-link", "highlight-link")
				document.getElementById('content').classList.replace("resting-link", 'highlight-link')

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header2div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-2').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 1140,
					behavior: "smooth",
				});
			})

			var content_attachments = document.getElementById('content-attachments')
			content_attachments.addEventListener('click', (event) => {
				document.getElementById('body-section-welcome').className = 'body-hidden'
				document.getElementById('body-section-metadata').className = 'body-hidden'
				document.getElementById('body-section-content').className = ''
				document.getElementById('body-section-transformation').className = 'body-hidden'
				document.getElementById('body-section-security').className = 'body-hidden'

				var textbtn3 = document.getElementById('text-btn-3')
				textbtn3.addEventListener('click', (event) => {
					textbtn3.className = 'btn-transition'
					setTimeout(() => {
						textbtn3.className = 'btn-idle'
					}, 500)
				})

				document.getElementById('header-1').innerHTML = "Text"
				document.getElementById('header-2').innerHTML = "Images"
				document.getElementById('header-3').innerHTML = "Attachments"
				document.getElementById('header-2-toggle').className = ''
				document.getElementById('header-3-toggle').className = ''

				document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
				content_attachments.classList.replace("resting-link", "highlight-link")
				document.getElementById('content').classList.replace("resting-link", 'highlight-link')

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header3div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-3').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 2280,
					behavior: "smooth",
				});
			})

			var transformation_merge = document.getElementById('transformation-merge')
			transformation_merge.addEventListener('click', (event) => {
				document.getElementById('body-section-welcome').className = 'body-hidden'
				document.getElementById('body-section-metadata').className = 'body-hidden'
				document.getElementById('body-section-content').className = 'body-hidden'
				document.getElementById('body-section-transformation').className = ''
				document.getElementById('body-section-security').className = 'body-hidden'

				var textbtn1 = document.getElementById('text-btn-1')
				textbtn1.addEventListener('click', (event) => {
					textbtn1.className = 'btn-transition'
					setTimeout(() => {
						textbtn1.className = 'btn-idle'
					}, 500)
				})

				document.getElementById('header-1').innerHTML = "Merge"
				document.getElementById('header-2').innerHTML = "Rotate"
				document.getElementById('header-3').innerHTML = ""
				document.getElementById('header-2-toggle').className = ''
				document.getElementById('header-3-toggle').className = 'header-hidden'

				document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
				transformation_merge.classList.replace("resting-link", "highlight-link")
				document.getElementById('transformation').classList.replace("resting-link", 'highlight-link')

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header1div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-1').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 0,
					behavior: "smooth",
				});
			})

			var transformation_rotate = document.getElementById('transformation-rotate')
			transformation_rotate.addEventListener('click', (event) => {
				document.getElementById('body-section-welcome').className = 'body-hidden'
				document.getElementById('body-section-metadata').className = 'body-hidden'
				document.getElementById('body-section-content').className = 'body-hidden'
				document.getElementById('body-section-transformation').className = ''
				document.getElementById('body-section-security').className = 'body-hidden'

				var textbtn2 = document.getElementById('text-btn-2')
				textbtn2.addEventListener('click', (event) => {
					textbtn2.className = 'btn-transition'
					setTimeout(() => {
						textbtn2.className = 'btn-idle'
					}, 500)
				})

				document.getElementById('header-1').innerHTML = "Merge"
				document.getElementById('header-2').innerHTML = "Rotate"
				document.getElementById('header-3').innerHTML = ""
				document.getElementById('header-2-toggle').className = ''
				document.getElementById('header-3-toggle').className = 'header-hidden'

				document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
				transformation_rotate.classList.replace("resting-link", "highlight-link")
				document.getElementById('transformation').classList.replace("resting-link", 'highlight-link')

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header2div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-2').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 1140,
					behavior: "smooth",
				});
			})

			var security_encryption = document.getElementById('security-encryption')
			security_encryption.addEventListener('click', (event) => {
				document.getElementById('body-section-welcome').className = 'body-hidden'
				document.getElementById('body-section-metadata').className = 'body-hidden'
				document.getElementById('body-section-content').className = 'body-hidden'
				document.getElementById('body-section-transformation').className = 'body-hidden'
				document.getElementById('body-section-security').className = ''

				var textbtn1 = document.getElementById('text-btn-1')
				textbtn1.addEventListener('click', (event) => {
					textbtn1.className = 'btn-transition'
					setTimeout(() => {
						textbtn1.className = 'btn-idle'
					}, 500)
				})

				document.getElementById('header-1').innerHTML = "Encryption"
				document.getElementById('header-2').innerHTML = "Decryption"
				document.getElementById('header-3').innerHTML = ""
				document.getElementById('header-2-toggle').className = ''
				document.getElementById('header-3-toggle').className = 'header-hidden'

				document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
				security_encryption.classList.replace("resting-link", "highlight-link")
				document.getElementById('security').classList.replace("resting-link", 'highlight-link')

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header1div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-1').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 0,
					behavior: "smooth",
				});
			})

			var security_decryption = document.getElementById('security-decryption')
			security_decryption.addEventListener('click', (event) => {
				document.getElementById('body-section-welcome').className = 'body-hidden'
				document.getElementById('body-section-metadata').className = 'body-hidden'
				document.getElementById('body-section-content').className = 'body-hidden'
				document.getElementById('body-section-transformation').className = 'body-hidden'
				document.getElementById('body-section-security').className = ''

				var textbtn2 = document.getElementById('text-btn-2')
				textbtn2.addEventListener('click', (event) => {
					textbtn2.className = 'btn-transition'
					setTimeout(() => {
						textbtn2.className = 'btn-idle'
					}, 1500)
				})

				document.getElementById('header-1').innerHTML = "Encryption"
				document.getElementById('header-2').innerHTML = "Decryption"
				document.getElementById('header-3').innerHTML = ""
				document.getElementById('header-2-toggle').className = ''
				document.getElementById('header-3-toggle').className = 'header-hidden'

				document.querySelectorAll('.highlight-link').forEach(el=>{
							el.classList.replace("highlight-link", "resting-link");
						});
				security_decryption.classList.replace("resting-link", "highlight-link")
				document.getElementById('security').classList.replace("resting-link", 'highlight-link')

				document.querySelectorAll('.highlight-header').forEach(el=>{
						el.classList.replace("highlight-header", "resting-header");
					});
				header2div.classList.replace("resting-header", "highlight-header");
				document.querySelectorAll('.highlight-sub-header').forEach(el=>{
						el.classList.replace("highlight-sub-header", "resting-sub-header");
					});
				document.getElementById('header-2').classList.replace("resting-sub-header", "highlight-sub-header");

				contentSection.scrollTo({
					top: 1140,
					behavior: "smooth",
				});
			})

		});

		function getVerticalScrollPercentage( elm ){
			var p = elm
			return (elm.scrollTop || p.scrollTop) / (p.scrollHeight - p.clientHeight ) * 100
		}

	</script>
</head>
<body>
	<div id="functionalities-section" class='{{ theme.main_section }}'>
		<a id='app-title' href="#" class='{% if welcome %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> PDFservice </a><hr><br>
			<a id='welcome' href="#" class='{% if welcome %} highlight-link {{ theme.text }}{% else %} resting-link {{ theme.text }} {% endif %}'>
			Welcome </a><br><br><br>
		<a id='meta' href="#" class='{% if author or date or device %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Metadata </a><hr><br>
			<a id='meta-author' href="#" class='{% if author %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Delete or modify Author </a><br>
			<a id='meta-date' href="#" class='{% if date %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Delete or modify Date created </a><br>
			<a id='meta-device' href="#" class='{% if device %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Device type of creation </a><br><br><br>
		<a id='content' href="#" class='{% if text or images or attachments %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Content </a><hr><br>
			<a id='content-text' href="#" class='{% if text %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Fetch text </a><br>
			<a id='content-images' href="#" class='{% if images %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Retrieve images </a><br>
			<a id='content-attachments' href="#" class='{% if attachments %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Discover attachments </a><br><br><br>
		<a id='transformation' href="#" class='{% if merge or rotate %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Transformation </a><hr><br>
			<a id='transformation-merge' href="#" class='{% if merge %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Merge multiple files </a><br>
			<a id='transformation-rotate' href="#" class='{% if rotate %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Rotate files </a><br><br><br>
		<a id='security' href="#" class='resting-link {{ theme.text }}'> Security </a><hr><br>
			<a id='security-encryption' href="#" class='{% if encryption %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Encryption (AES) </a><br>
			<a id='security-decryption' href="#" class='{% if decryption %} highlight-link {{ theme.text }} {% else %} resting-link {{ theme.text }} {% endif %}'> Decryption (AES) </a><br>
		<!-- <div id='marquee-div' class='wrapper'>
			<div class='marquee dark-text'>
				<p> Designed and implemented by Nicolas Robinson Email: nicolas.alexander.robinson@gmail.com </p>
				<p> Designed and implemented by Nicolas Robinson Email: nicolas.alexander.robinson@gmail.com </p>
			</div>
		</div> -->
		<div id='pypdf-credits'>
			{% load static %}
			<p class='{{ theme.text }}'> Powered by </p>
			<div id='pypdf-logo-div' class='{{ theme.component }}'>
				<a href='https://pypdf2.readthedocs.io/en/3.0.0/' target='_blank' rel="noopener noreferrer">
					<img id='pypdf-logo' src="{% static 'utils/pypdf-logo.png' %}" height='30px' width='80px'>
				</a>
			</div>
		</div>
	</div>


	<div id='pdf-section' class='{{ theme.upload_section }} expand'>
		<div id='dropzone-section' ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" class='{{ theme.dropzone_section }}'>
			<p id='dropzone-text' class='{{ theme.dropzone_text }}'> File dropping and global file upload in development 🚧</p>
		</div>
		<div id='placeholder'></div>
	</div>

	<div id='pdf-section-controller'>
		<button id='expand-btn' class='{{ theme.component }} expand'>
			<div id='expand-icon'></div>
		</button>
	</div>



	<div id='content-section' class='{{ theme.main_section }} resting-text stop-scrolling'>
		<div id='body-section-welcome' class='{% if welcome %} {% else %} body-hidden {% endif %}'>
			<div id='body-welcome' class='body-element'>
				<div id='body-welcome-diagram'>
					
				</div>
				<p id='body-heading-1' class='{{ theme.text }}'> Welcome </p>
				<p id='body-content-1' class='{{ theme.text }}'>
					Hello and welcome to this pdf service! <br><br> Please use the side-bar to browse the available functionalities!
				</p>
			</div>
		</div>






		<div id='body-section-metadata' class='{% if author or date or device %} {% else %} body-hidden {% endif %}'>
<!-- 			{% if author %}
			<script> 
				var meta_author = document.getElementById('meta-author');
				meta_author.click();
			</script>
			{% endif %} -->
			<div id='body-author' class='body-element'>
				<p id='body-heading-1' class='{{ theme.text }}'> Author </p>
				<p id='body-content-1' class='{{ theme.text }}'> This section provides access to the Author of the uploaded PDF file. </p>
				<div class='body-form'>
					<form action="{% url 'utils:returnMetadata' %}" method='post' enctype='multipart/form-data'>
					{% csrf_token %}
					<input id='theme-input-author' type='text' name='theme-input' hidden />
						<div class='file-selector-div'>
							<input type='file' name='author' accept='.pdf' class='{{ theme.component }} file-selector' required />
							<input type='submit' value='Fetch name' id='text-btn-1' class='btn-idle {{ theme.component }}' onclick="document.getElementById('theme-input-author').setAttribute('value', document.getElementById('theme-toggle-checkbox').checked)"/>
						</div>
					</form>
				</div>
				<div id='body-resultbox-1' class='{% if author %} body-resultbox-active {{ theme.component }} {% else %} {{ theme.component }} body-resultbox {% endif %}'> {% if author %} <p> {{ author }} </p> {% else %} <p> Results will appear here... </p> {% endif %} </div>
			</div>
			{% if date %}
			<script> 
				setTimeout(() => {
					var contentSection = document.getElementById('content-section');
					var meta_date = document.getElementById('meta-date');
					meta_date.click()
				}, 0)
			</script>
			{% endif %}
			<div id='body-date' class='body-element'>
				<p id='body-heading-2' class='{{ theme.text }}'> Date </p>
				<p id='body-content-2' class='{{ theme.text }}'> This section provides access to the Date of creation of the uploaded PDF file. </p>
				<div class='body-form'>
					<form action="{% url 'utils:returnMetadata' %}" method='post' enctype='multipart/form-data'>
					{% csrf_token %}
					<input id='theme-input-date' type='text' name='theme-input' hidden />
						<input type='file' id='author-pdf-box' name='date' accept='.pdf' class='{{ theme.component }} file-selector' required />
						<input type='submit' value='Fetch date' id='text-btn-2' class='btn-idle {{ theme.component }}' onclick="document.getElementById('theme-input-date').setAttribute('value', document.getElementById('theme-toggle-checkbox').checked)"/>
					</form>
				</div>
				<div id='body-resultbox-2' class='{% if date %} body-resultbox-active {{ theme.component }} {% else %} {{ theme.component }} body-resultbox {% endif %}'> {% if date %} <p> {{ date }} </p> {% else %} <p> Results will appear here... </p> {% endif %} </div>
			</div>
			{% if device %}
			<script> 
				setTimeout(() => {
					var contentSection = document.getElementById('content-section');
					var meta_device = document.getElementById('meta-device');
					meta_device.click()
				}, 0)
			</script>
			{% endif %}
			<div id='body-device' class='body-element'>
				<p id='body-heading-3' class='{{ theme.text }}'> Device </p>
				<p id='body-content-3' class='{{ theme.text }}'> This section provides access to the device on which the uploaded PDF was created on. <br><br> For example, if the PDF was initially generated on a MacOS, the result will most likely be in the form of MacOS, with the operating system version (e.g. Catalina, Mojave). </p>
				<div class='body-form'>
					<form action="{% url 'utils:returnMetadata' %}" method='post' enctype='multipart/form-data'>
					{% csrf_token %}
					<input id='theme-input-device' type='text' name='theme-input' hidden />
						<input type='file' id='author-pdf-box' name='device' accept='.pdf' class='{{ theme.component }} file-selector' required />
						<input type='submit' value='Fetch device' id='text-btn-3' class='btn-idle {{ theme.component }}' onclick="document.getElementById('theme-input-device').setAttribute('value', document.getElementById('theme-toggle-checkbox').checked)"/>
					</form>
				</div>
				<div id='body-resultbox-3' class='{% if device %} body-resultbox-active {{ theme.component }} {% else %} {{ theme.component }} body-resultbox {% endif %}'> {% if device %} <p> {{ device }} </p> {% else %} <p> Results will appear here... </p> {% endif %} </div>
			</div>
		</div>
		<div id='body-section-content' class='body-hidden'>
			{% if text %}
			<script> 
				setTimeout(() => {
					var contentSection = document.getElementById('content-section');
					var content_text = document.getElementById('content-text');
					content_text.click()
				}, 0)
			</script>
			{% endif %}
			<div id='body-text' class='body-element'>
				<p id='body-heading-1' class='{{ theme.text }}'> Text </p>
				<p id='body-content-1' class='{{ theme.text }}'> This section uses PyPDF to parse the PDF file for its contents. The text in the PDF is extracted and printed out to the box above. </p>
				<div class='body-form'>
					<form action="{% url 'utils:returnContent' %}" method='post' enctype='multipart/form-data'>
					{% csrf_token %}
					<input id='theme-input-text' type='text' name='theme-input' hidden />
						<input type='file' id='author-pdf-box' name='text' accept='.pdf' class='{{ theme.component }} file-selector' required />
						<input type='submit' value='Fetch text' id='text-btn-1' class='btn-idle {{ theme.component }}' onclick="document.getElementById('theme-input-text').setAttribute('value', document.getElementById('theme-toggle-checkbox').checked)"/>
					</form>
				</div>
				<div id='body-resultbox-1' class='{% if text %} body-resultbox-active {{ theme.component }} {% else %} {{ theme.component }} body-resultbox {% endif %}'> <p> {% if text %} {{ text }} {% else %} Results will appear here... {% endif %} </p> </div>
			</div>
			{% if images %}
			<script> 
				setTimeout(() => {
					var contentSection = document.getElementById('content-section');
					var content_images = document.getElementById('content-images');
					content_images.click()
				}, 0)
			</script>
			{% endif %}
			<div id='body-images' class='body-element'>
				<p id='body-heading-2' class='{{ theme.text }}'> Images </p>
				<p id='body-content-2' class='{{ theme.text }}'> This section provides the functionality to extract images and return the number of images in the PDF. </p>
				<div class='body-form'>
					<form action="{% url 'utils:returnContent' %}" method='post' enctype='multipart/form-data'>
					{% csrf_token %}
					<input id='theme-input-images' type='text' name='theme-input' hidden />
						<input type='file' id='author-pdf-box' name='images' accept='.pdf' class='{{ theme.component }} file-selector' required />
						<input type='submit' value='Fetch images' id='text-btn-2' class='btn-idle {{ theme.component }}' onclick="document.getElementById('theme-input-images').setAttribute('value', document.getElementById('theme-toggle-checkbox').checked)"/>
					</form>
				</div>
				<div id='body-resultbox-2' class='{% if images %} body-resultbox-active {{ theme.component }} {% else %} {{ theme.component }} body-resultbox {% endif %}'> <p> {% if images %} {{ images }} {% else %} Results will appear here... {% endif %} </p> </div>
			</div>
			{% if attachments %}
			<script> 
				setTimeout(() => {
					var contentSection = document.getElementById('content-section');
					var content_attachments = document.getElementById('content-attachments');
					content_attachments.click()
				}, 0)
			</script>
			{% endif %}
			<div id='body-attachments' class='body-element'>
				<p id='body-heading-3' class='{{ theme.text }}'> Attachments </p>
				<p id='body-content-3' class='{{ theme.text }}'> This section extracts any attachments associated with the PDF. </p>
				<div class='body-form'>
					<form action="{% url 'utils:returnContent' %}" method='post' enctype='multipart/form-data'>
					{% csrf_token %}
					<input id='theme-input-attachments' type='text' name='theme-input' hidden />
						<input type='file' id='author-pdf-box' name='attachments' accept='.pdf' class='{{ theme.component }} file-selector' required />
						<input type='submit' value='Fetch attachments' id='text-btn-3' class='btn-idle {{ theme.component }}' onclick="document.getElementById('theme-input-attachments').setAttribute('value', document.getElementById('theme-toggle-checkbox').checked)"/>
					</form>
				</div>
				<div id='body-resultbox-3' class='{% if attachments %} body-resultbox-active {{ theme.component }} {% else %} {{ theme.component }} body-resultbox {% endif %}'> <p> {% if attachments %} {{ attachments }} {% else %} Results will appear here... {% endif %} </p> </div>
			</div>
		</div>
		<div id='body-section-transformation' class='body-hidden'>
			<div id='body-merge' class='body-element'>
				<p id='body-heading-1' class='{{ theme.text }}'> Merge </p>
				<div id='body-resultbox-1' class='{{ theme.component }} body-downloadbox'> <p> Download will commence automatically </p> </div>
				<p id='body-content-1' class='{{ theme.text }}'> This section merges multiple uploaded PDFs. </p>
				<div class='body-form'>
					<form action="{% url 'utils:returnTransformation' %}" method='post' enctype='multipart/form-data'>
					{% csrf_token %}
					<input id='theme-input-merge' type='text' name='theme-input' hidden />
						<input type='file' id='author-pdf-box' name='merged' accept='.pdf' class='{{ theme.component }} file-selector' multiple required />
						<input type='submit' value='Merge' id='text-btn-2' class='btn-idle {{ theme.component }}' onclick="document.getElementById('theme-input-merge').setAttribute('value', document.getElementById('theme-toggle-checkbox').checked)"/>
					</form>
				</div>
			</div>
			<div id='body-rotate' class='body-element'>
				<p id='body-heading-2' class='{{ theme.text }}'> Rotate </p>
				<div id='body-resultbox-2' class='{{ theme.component }} body-downloadbox'> <p> Download will commence automatically </p> </div>
				<p id='body-content-2' class='{{ theme.text }}'> This section rotates an uploaded PDF by the specified angle. </p>
				<div class='body-form'>
					<form action="{% url 'utils:returnTransformation' %}" method='post' enctype='multipart/form-data'>
					{% csrf_token %}
					<input id='theme-input-rotate' type='text' name='theme-input' hidden />
						<label for='degree-input' class='{{ theme.text }}'>Angle</label><input id='degree-input' name='rotation_degree' type='number' min='0' max='360' default='90' class='{{ theme.component }}' required ><br>
						<input type='file' id='author-pdf-box' name='rotated' accept='.pdf' class='{{ theme.component }} file-selector' multiple required />
						<input type='submit' value='Rotate' id='text-btn-2' class='btn-idle {{ theme.component }}' onclick="document.getElementById('theme-input-rotate').setAttribute('value', document.getElementById('theme-toggle-checkbox').checked)"/>
					</form>
				</div>
			</div>
		</div>
		<div id='body-section-security' class='body-hidden'>
			<div id='body-encryption' class='body-element'>
				<p id='body-heading-1' class='{{ theme.text }}'> Encryption </p>
				<div id='body-resultbox-1' class='{{ theme.component }} body-downloadbox'> <p> Download will commence automatically </p> </div>
				<p id='body-content-1' class='{{ theme.text }}'> This section encrypts the uploaded PDF using a choice of AES algorithms. </p>
				<div class='body-form'>
					<form action="{% url 'utils:returnSecurity' %}" method='post' enctype='multipart/form-data'>
					{% csrf_token %}
					<input id='theme-input-encryption' type='text' name='theme-input' hidden />
						<label id='algorithm-type-div-label' for='algorithm-type-div' class='{{ theme.text }}'>
							Algorithms
						</label>
						<div id='algorithm-type-div' class='{{ theme.component }}'>
							<label id='label-AES-1-enc' for='AES-test-1' class='{{ theme.text }}'>AES-128</label>
							<input id='AES-test-1-enc' name='AES-algorithm' type='radio' value='AES-128' class='{{ theme.component }}' required >
							<label id='label-AES-2-enc' for='AES-test-2' class='{{ theme.text }}'>AES-256</label>
							<input id='AES-test-2-enc' name='AES-algorithm' type='radio' value='AES-256' class='{{ theme.component }}' required >
							<label id='label-AES-3-enc' for='AES-test-3' class='{{ theme.text }}'>AES-256-R5</label>
							<input id='AES-test-3-enc' name='AES-algorithm' type='radio' value='AES-256-R5' class='{{ theme.component }}' required >
						</div>
						<label for='password-input' class='{{ theme.text }}'>Password</label>
						<input id='password-input' name='password-input' type='text' class='{{ theme.component }}' required >
						<input type='file' id='author-pdf-box' name='AES-encrypt' accept='.pdf' class='{{ theme.component }} file-selector' multiple required />
						<input type='submit' value='Encrypt' id='text-btn-2' class='btn-idle {{ theme.component }}' onclick="document.getElementById('theme-input-encryption').setAttribute('value', document.getElementById('theme-toggle-checkbox').checked)"/>
					</form>
				</div>
			</div>
			<div id='body-decryption' class='body-element'>
				<p id='body-heading-1' class='{{ theme.text }}'> Decryption </p>
				<div id='body-resultbox-1' class='{{ theme.component }} body-downloadbox'> <p> Download will commence automatically </p> </div>
				<p id='body-content-1' class='{{ theme.text }}'> This section decrypts the uploaded PDF using a choice of AES algorithms. </p>
				<div class='body-form'>
					<form action="{% url 'utils:returnSecurity' %}" method='post' enctype='multipart/form-data'>
					{% csrf_token %}
					<input id='theme-input-decryption' type='text' name='theme-input' hidden />
						<label id='algorithm-type-div-label' for='algorithm-type-div' class='{{ theme.text }}'>
							Algorithms
						</label>
						<div id='algorithm-type-div' class='{{ theme.component }}'>
							<label id='label-AES-1-dec' for='AES-test-1' class='{{ theme.text }}'>AES-128</label>
							<input id='AES-test-1-dec' name='AES-algorithm' type='radio' value='AES-128' class='{{ theme.text }}' required >
							<label id='label-AES-2-dec' for='AES-test-2' class='{{ theme.text }}'>AES-256</label>
							<input id='AES-test-2-dec' name='AES-algorithm' type='radio' value='AES-256' class='{{ theme.text }}' required >
							<label id='label-AES-3-dec' for='AES-test-3' class='{{ theme.text }}'>AES-256-R5</label>
							<input id='AES-test-3-dec' name='AES-algorithm' type='radio' value='AES-256-R5' class='{{ theme.text }}' required >
						</div>
						<label for='password-input' class='{{ theme.text }}'>Password</label>
						<input id='password-input' name='password-input' type='text' class='{{ theme.component }}' required >
						<input type='file' id='author-pdf-box' name='AES-decrypt' accept='.pdf' class='{{ theme.component }} file-selector' multiple required />
						<input type='submit' value='Decrypt' id='text-btn-2' class='btn-idle {{ theme.component }}' onclick="document.getElementById('theme-input-decryption').setAttribute('value', document.getElementById('theme-toggle-checkbox').checked)"/>
					</form>
				</div>
			</div>
		</div>

		<div id='body-sticky-section'>
			<div id='theme-toggle'>
				<div id='theme-toggle-btn'>
					<label class='switch'>
						<input id='theme-toggle-checkbox' type='checkbox' class='{{ theme.component }}' {{ theme.checked }} />
						<span class='slider round'></span>
					</label>
				</div>
				<div id='theme-toggle-icon'>
					
				</div>
			</div>
			<div id='headers-section'>
				<p class='{{ theme.text }}'> Headings </p>
				<div id='header-1-div' class='highlight-header {{ theme.header }}'>
					<a href='#' id='header-1' class='{{ theme.text }} highlight-sub-header'> Welcome </a>
				</div>
				<div id='header-2-toggle' class='header-hidden'>
					<div id='header-2-div' class='resting-header {{ theme.header }}'>
					<a href='#' id='header-2' class='{{ theme.text }} resting-sub-header'> Date </a>
				</div>
				</div>
				<div id='header-3-toggle' class='header-hidden'>
					<div id='header-3-div' class='resting-header {{ theme.header }}'>
						<a href='#' id='header-3' class='{{ theme.text }} resting-sub-header'> Device </a>
					</div>
				</div>
			</div>
			<div id='ads-section' class='{{ theme.component }}'></div>
		</div>
	</div>
</body>
</html>